ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
/* element selector*/
p{
  color: red
}
.note{
  font-size: 20px
}
#id-selector-demo{
  color: green
}
/* select the specific attribute with specific values */
li[value = "4"]{
  color: blue
}
/* select all element */
*{
  text-align: center
}